h1{
    color: orange;
    
}
img{
    border-radius: 8px;

}
#r1{
    color: blueviolet;
    text-decoration: dotted;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

